<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav class="navbar navbar-dark navbar-expand-lg bg-gradient justify-content-center" style="background-color: goldenrod;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Aplikasi Book Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:classappend="${#httpServletRequest.servletPath != null && #httpServletRequest.servletPath.contains('/master')} ? active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Master Data
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/master/book/}">Book Inventory</a></li>
                        <li><a class="dropdown-item" th:href="@{/master/users/}">User</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Selamat Datang , <b><span sec:authentication="name">Username</span></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a type="button" class="dropdown-item" th:href="@{/logout}">Keluar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>